@{
    ViewData["Title"] = "AboutUs";
}

@section Styles {
    <link rel="stylesheet" href="~/css/aboutUs.css" asp-append-version="true" />
}

<div class="tab-about">
    <div class="grid">
        <div class="body">
            <img src="~/Photos/wacker.jpg" alt="A photo of us" class="image-container" />
            <h1>Our Background</h1>
            <div>
                <p>
                    Hello! We're the Wacker Family! <br>
                    Doodle Dogs opened in August of 2024. We have always loved our Aussiedoodle puppy Gracie and she inspired us to open a dog breeding business of our own. After much research, 
                    we found that Aussiedoodles, Goldendoodles and Cockapoos are wonderful sweet dogs and that they would be perfect for us! We have been raising the puppies in a renovated garage 
                    on our property and making sure they have a happy, warm and clean environment. It is our desire to give our puppies good homes and lots of love, so please reach out to us with any
                    questions! We hope to hear from you soon!
                </p>
            </div>
        </div>
        <div class="small-flex">
            <p class="small-text text-white">Our Location: Made-Up, IA 51246</p>
            <p class="small-text text-white">Our Phone: (309)444-4432</p>
            <p class="small-text text-white">Our Email: DoodleDogs@gmail.com</p>
        </div>
    </div>
</div>
