@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Sorry!";
}

<header>
    <h1 class="text-danger" style="text-align: center">@ViewData["Title"]</h1>
    <h4 class="text-danger" style="text-align: center">You are not authorized to view this page.</h4>
    <img src="~/Photos/sadPuppy.png" class="card-img-top" alt="Sad Puppy Image">

</header>
