@model DataDomain.Litter

@{
    ViewData["Title"] = "Edit";
}
@section Styles {
    <link rel="stylesheet" href="~/css/create.css" asp-append-version="true" />
}

<h1>Edit</h1>

<h4>Litter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LitterID" />
            <div class="row">
                <div class="div col-md-4">
                    <div class="form-group">
                        <label asp-for="FatherDogID" class="control-label">Father Dog Name</label>
                        @Html.DropDownListFor(m => m.FatherDogID,
                                 new SelectList(ViewBag.FatherDogIDs),
                                 new { @class = "form-control" })
                        <span asp-validation-for="FatherDogID" class="text-danger"></span>
                    </div>
                </div>
                <div class="div col-md-4">
                    <div class="form-group">
                        <label asp-for="MotherDogID" class="control-label">Mother Dog Name</label>
                        @Html.DropDownListFor(m => m.MotherDogID,
                                 new SelectList(ViewBag.MotherDogIDs),
                                 new { @class = "form-control" })
                        <span asp-validation-for="MotherDogID" class="text-danger"></span>
                    </div>
                </div>
                <div class="div col-md-4">
                    <div class="form-group">
                        <label asp-for="NumberPuppies" class="control-label">Number of Puppies</label>
                        <input asp-for="NumberPuppies" class="form-control" />
                        <span asp-validation-for="NumberPuppies" class="text-danger"></span>
                    </div>
                </div>
               
            </div>
            <div class="row" style="align-items: center;">
                @* Shows the current image and saves it as a hidden input if there is one *@
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <input type="hidden" asp-for="Image" />
                    <div class="col-md-4">
                        <label>Current Image:</label>
                        <div>
                            <img id="imagePreview" src="~/Photos/@Model.Image" alt="Current Litter Image" style="max-height: 8em;" />
                        </div>
                    </div>
                }

                <div class="div col-md-4">
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label">Date Of Birth</label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="div col-md-4">
                    <div class="form-group">
                        <label asp-for="GoHomeDate" class="control-label">Go Home Date</label>
                        <input asp-for="GoHomeDate" class="form-control" />
                        <span asp-validation-for="GoHomeDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 1em;">
                @* The optional upload image input. It gets the same validation messages as Image *@
                <div class="div col-md-4">
                    <div class="form-group">
                        <label for="NewImage" class="control-label">Upload New Image (optional)</label>
                        <input type="file" name="NewImage" id="NewImage" class="form-control" accept="image/*" />
                        <span class="text-danger">@Html.ValidationMessage("Image")</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-sm btn-outline-success"  />
                <a asp-action="IndexBasic" class="btn btn-sm btn-outline-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        // gets the NewImage and gives it a onchange event
        document.getElementById("NewImage").addEventListener("change", function (event) {
            // gets the file that the user selected
            const [file] = event.target.files;
            // if there is a file have the imagePreview display that image instead
            if (file) {
                const preview = document.getElementById("imagePreview");
                // displays the selected image
                preview.src = URL.createObjectURL(file);
                preview.style.display = "block";
            }
        });
    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")
}