body {
}

.blueTr {
    background-color: #62929c;
    color: white;
}
.greenTr {
    background-color: #629c88;
    color: white;
}
.pinkTr {
    background-color: #c07992;
    color: white;
}

.grayTr {
    background-color: gray;
    color: white;
}

.container{
    flex-direction: column;
}